.Chat-main
  .Chat-main__group
    .Chat-main__group-info
      .Chat-main__group-info--group
        test
      %ul.Chat-main__group-info--member
        Menber:
        %li.Chat-main__group-info--membername
          masa
    = link_to '#',class: "Chat-main__group-info--edit" do
      Edit
  .Chat-main__message-list
    .Message-box
      .Message-box__info
        .Message-box__info--name
          masa
        .Message-box__info--date
          2020/08/20(Thu) 08:00
      .Message-box__message
        .Message-box__message--text
          おはよう!
    .Message-box
      .Message-box__info
        .Message-box__info--name
          masa
        .Message-box__info--date
          2020/08/21(Fri) 08:00
      .Message-box__message
        .Message-box__message--text
          今日は夜から雨
  .Message-box__message-form
    %form.Message-form
      .Message-form__box
        %input.Message-form__text{type: 'text', placeholder: 'type a message'}
        %label.Message-form__image
          = icon('far', 'image', class: 'message-form__icon,')
          %input.Message-form__file{type: 'file'}
      %input.Message-form__submit{type: 'submit', value: 'Send'}  
    
