.chat-main
  .chat-main__group
    .chat-main__group-info
      .chat-main__group-info--group
        test
      %ul.chat-main__group-info--member
        Menber:
        %li.chat-main__group-info--membername
          masa
    = link_to '#',class: "chat-main__group-info--edit" do
      Edit
  .chat-main__message-list
    .message-
    .chat-main__info
      .chat-main__info--name
        masa
      .chat-main__info--date
        2020/08/20(Thu) 08:00
    .chat-main__message
      .chat-main__message--text
        おはよう!
  .chat-main__message-form
