.Side-bar
  .Side-bar__user-name
    .Top-items
      %p.Top-items__name
        masa
      %ul.Top-items__icons
        %li.Top-items__left-icons
          = link_to "#" do
            = icon('far', 'edit')
        %li.Top-items__right-icons
          = link_to "#" do 
            = icon('fas', 'cog')
  .Side-bar__group-list
    .Side-bar__box
      .Side-bar__box--group
      techcamp
      .Side-bar__box--message
      まだメッセージがありません。